<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ZaryaShortcutComponents" Directory="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="B8D5F3A2-4C6E-4F1A-9D2B-3E4F5A6B7C8D">
        <Shortcut
          Id="StartMenuShortcut"
          Name="$(var.ProductName)"
          Description="Zarya proxy profile manager"
          Target="[INSTALLFOLDER]Zarya.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Zarya"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ZaryaDesktopShortcutComponents" Directory="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="C9E6A4B3-5D7F-4A2B-8E3C-4F5A6B7C8D9E" Condition="INSTALLDESKTOPSHORTCUT=&quot;1&quot;">
        <Shortcut
          Id="DesktopShortcut"
          Name="$(var.ProductName)"
          Description="Zarya proxy profile manager"
          Target="[INSTALLFOLDER]Zarya.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Zarya"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
