[submodule "third_party/desktop-app/cmake_helpers"]
	path = third_party/desktop-app/cmake_helpers
	url = https://github.com/desktop-app/cmake_helpers.git
[submodule "third_party/desktop-app/lib_crl"]
	path = third_party/desktop-app/lib_crl
	url = https://github.com/desktop-app/lib_crl.git
[submodule "third_party/desktop-app/lib_rpl"]
	path = third_party/desktop-app/lib_rpl
	url = https://github.com/desktop-app/lib_rpl.git
[submodule "third_party/desktop-app/lib_base"]
	path = third_party/desktop-app/lib_base
	url = https://github.com/desktop-app/lib_base.git
[submodule "third_party/desktop-app/lib_ui"]
	path = third_party/desktop-app/lib_ui
	url = https://github.com/desktop-app/lib_ui.git
[submodule "third_party/desktop-app/codegen"]
	path = third_party/desktop-app/codegen
	url = https://github.com/desktop-app/codegen.git
[submodule "third_party/desktop-app/GSL"]
	path = third_party/desktop-app/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "third_party/desktop-app/range-v3"]
	path = third_party/desktop-app/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "third_party/desktop-app/expected"]
	path = third_party/desktop-app/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "third_party/desktop-app/xxHash"]
	path = third_party/desktop-app/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "third_party/desktop-app/lz4"]
	path = third_party/desktop-app/lz4
	url = https://github.com/lz4/lz4.git
